.footer {
    height: 194px;
    width: 100%;
    background-color: #292c32;
    @media only screen and (max-width: 768px) {
      height: 258px;
    }
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.footer-actions {
    display: flex;
    justify-content: space-between;
    padding-left: 245px;
    padding-right: 198px;
    margin-bottom: 10px;
    @media only screen and (max-width: 768px) {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.action {
    text-align: center;
    div {
        margin-bottom: 10px;
        color: white;
    }
}

.mobile-button-container {
    display: none;
    @media only screen and (max-width: 768px) {
        display: flex;
        justify-content: center
    }
}

.defualt-button-mobile{
    background-color: #292c32;
    text-align: left;
    color: #357df7;
    width: 158px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.6);
}

.defualt-button {
    background-color: #292c32;
    text-align: left;
    color: #357df7;
    width: 158px;
    height: 40px;
    border-radius: 8px;
    border: solid 1px rgba(255, 255, 255, 0.6);
    @media only screen and (max-width: 768px) {
        display: none;
    }
}


.icon {
    margin-left: 45px;
    margin-right: 45px;
}

.instagram {
    background-image: url('../../images/instagram.png');
  }

.twiiter {
    background-image: url('../../images/twitter-square.png');
}

.linkedin {
    background-image: url('../../images/linkedin-square.png');
}